.container {
	display: flex;
	align-items: center;
	gap: 12px;

	svg {
		flex-shrink: 0;
		color: rgba(15, 26, 103, 1);
	}

	.brand {
		display: flex;
		flex-direction: column;
		gap: 2px;

		h1 {
			font-size: 17px;
			font-weight: 600;
			color: rgba(15, 26, 103, 1);
		}

		p {
			font-size: 14px;
			font-weight: 400;
			color: rgba(15, 26, 103, 1);
			opacity: 0.8;
		}
	}
}
